// @import '../../01-Settings/variables.scss'; -> Dona un warning
@use '../../01-Settings/variables.scss' as *; // as * => per poder seguir fent ús senseprefixes


body {
  background-color: #161032;
  font-family: 'Arial', sans-serif;
}

// capsa del navbar
.navbar {
  position: fixed;     // fija el navbar en la pantalla
  top: 0;              // lo pega arriba
  left: 0;
  width: 100%;
  background-color: #161032; 
  z-index: 1000;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); // sombra opcional para darle profundidad
}

// div que conté el Logotip
.navbar__left {
  display: flex;
  align-items: center;
}

// el logo
.navbar__logo {
  width: 120px;
  height: auto;
  border-radius: 8px;
  animation: zoomIn 0.8s ease-out backwards;
}

// animacions Logotip
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.navbar_links {
  //dins del div
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2%;
  animation: fadeInFromRight 1s ease-out forwards;
    //links
  a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;

    // hover per els links
    &:hover {
      color: $color-accent;
      text-decoration: underline;
    }
  }
}

// animacions links navbar
@keyframes fadeInFromRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
