// Colores principales
$color-bg: #161032;
$color-text: #e0e0e0;
$color-accent: #80acff;
$color-accent-alt: #ffd700;

// Tipografía
$font-main: 'Arial', sans-serif;

// Espaciados
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
    